@page
@{
    Layout = null;
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="multisteps-form mb-5">

                <div class="row">
                    <div class="col-12 col-lg-8 mx-auto my-5">
                        <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="Email">
                                <span>Email</span>
                            </button>
                            <button class="multisteps-form__progress-btn" id="ChagePass_ShowOTP" type="button" title="OTP">OTP</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <form class="multisteps-form__form mb-8" style="height: 395px;">
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" id="formChageEmail" data-animation="FadeIn">
                                <h5 class="font-weight-bolder mb-0">Email</h5>
                                <p class="mb-0 text-sm">Mandatory informations</p>
                                <div class="multisteps-form__content">
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <label>Email</label>
                                            <input class="multisteps-form__input form-control" id="inputChageEmail" type="text" placeholder="Email User">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" id="formChageOTP" data-animation="FadeIn">
                                <div class="card-body px-lg-5 py-lg-5 text-center">
                                    <div class="text-center text-muted mb-4">
                                        <h2>2-Step Verification</h2>
                                    </div>
                                    <div class="row gx-2 gx-sm-3">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" maxlength="1" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" maxlength="1" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" maxlength="1" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" maxlength="1" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn bg-gradient-warning w-100">Send code</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var num=0;
     $(document).ready(function () {
         
         $('#inputChageEmail').on('change', function (e) {
             //SendMail($('#inputChageEmail').val());
            $("#ChagePass_ShowOTP").addClass("js-active");
            $("#formChageEmail").removeClass("js-active");
            $("#formChageOTP").addClass("js-active");
            setTimeout(TimeOutOTP, 5000);
        });
     });
     function SendMail(value){
         AjaxApi(url = "/api/Author/SendMail?emailUser="+value
            ,data= JSON.stringify({
            })
            ,async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                        $("#ChagePass_ShowOTP").addClass("js-active");
                        $("#formChageEmail").removeClass("js-active");
                        $("#formChageOTP").addClass("js-active");
                        resetPassword();
            }
            , before = function (e) {
                if(e.responseText=="1"){
                    num=e.responseText;
                        $("#ChagePass_ShowOTP").addClass("js-active");
                        $("#formChageEmail").removeClass("js-active");
                        $("#formChageOTP").addClass("js-active");
                    }
             }
        );
    }
    function resetPassword(){
            AjaxApi(url = "/api/Author/ResetPassWord?emailUser="+$("#ChagePassEmail").val()+"&num="+num
            ,data= JSON.stringify({
            })
            ,async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                        $("#ChagePass_ShowOTP").addClass("js-active");
                        $("#formChageEmail").removeClass("js-active");
                        $("#formChageOTP").addClass("js-active");
            }
            , before = function (e) {
                if(e.responseText=="1"){
                        $("#ChagePass_ShowOTP").addClass("js-active");
                        $("#formChageEmail").removeClass("js-active");
                        $("#formChageOTP").addClass("js-active");
                    }
                }
        );
    }
    function TimeOutOTP(){
        alert("heets thoi gian");
    }
</script>