@page
@{
    Layout = "~/Pages/Shared/_Layout_Login.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
     <title>@ViewBag.Title</title>
    <script src="/js/Common/initialize_setting.js"></script>
    <link rel="icon" type="image/x-icon" href="/Assets/img/l">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <style>
        .sercu {
            -webkit-text-security: disc;
        }
        #loader {
            position: absolute;
            left: 15px;
            display: none;
        }
        input.active {
            background-image: linear-gradient( 310deg, #7928ca12 0%, #ff008021 100%);
        }
        input.disabled {
            background-image: linear-gradient( 310deg, #e9ecef 0%, #ffffff 100%);
            pointer-events: none;
            cursor: none;
        }
        button.disabed {
            pointer-events: none;
        }
        .bntAuthor:hover {
            color: #fff;
            transform: translateY(-7px);
            background-color: rgba(8, 3, 57, 0.9);
        }
    </style>
</head>
<body>
    <main class="main-content main-content-bg mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column">
                            <div class="card card-plain mt-8">
                                <div class="row px-xl-5 px-sm-4">
                                </div>
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder text-primary text-gradient">Welcome back</h4>
                                    <p class="mb-0 text-sm text-dark">Enter your username and password to login</p>
                                </div>
                                <div class="card-body">
                                    <form role="form" class="text-start form3" id="formLogin">
                                        <label>UserName</label>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-user-alt"></i>
                                                    </span>
                                                    <input id="username" name="username" autocomplete="off" type="text" class="inforlogin ps-2 form-control" placeholder="eg .username">
                                                </div>
                                            </div>
                                        </div>
                                        <label>Password</label>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-eye-slash show_pass_icon"></i>
                                                    </span>
                                                    <input id="password" name="passwordUser" type="text" autocomplete="off" class="inforlogin ps-2  sercu form-control" placeholder="eg .password">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex col-12">
                                            <div class="form-check form-switch col-sm-7">
                                                <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                                <label class="form-check-label text-gradient bg-gradient-dark"  style="font-size: 14px" for="rememberMe">Remember me</label>
                                            </div>
                                        <p class="mb-2 mx-auto text-end col-sm-5" id="LoginResetPass">
                                            <a href="#" class="pe-none bg-dark text-gradient font-weight-bold" style="font-size: 14px ;border-bottom:1px solid black">Forgot Password ?</a>
                                        </p>
                                        </div>
                                        
                                        <div class="text-center flagsLogin">
                                            <button id="loginbtn" type="button" class="btn bg-gradient-dark w-100 mt-2 mb-0 position-relative disabed" onclick="event.preventDefault();return ClickLogin()">
                                                <div id="loader" class="spinner-border spinner-border-sm"></div>
                                                LOGIN
                                            </button>
                                        </div>
                                        <div class="my-2 position-relative text-center">
                                            <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                                                or
                                            </p>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button id="loginbtnFB" type="button" class="btn bntAuthor d-flex w-100 position-relative disabed" onclick="event.preventDefault();return LoginFaceBook()">
                                                        <i class="fa fa-facebook fa-fw me-3 col-sm-3 d-flex justify-content-start" style="font-size:22px"></i>
                                                        <span class="col-sm-9 d-flex text-center mt-1 me-2">Facebook</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button id="loginbtnGoogle" type="button" class="btn bntAuthor d-flex w-100 position-relative disabed" onclick="event.preventDefault();return loginGoogle()">
                                                        <i class="fa fa-google-plus col-sm-3 me-3 d-flex justify-content-start" style="font-size:22px"></i>
                                                        <span class="col-sm-9 d-flex text-center mt-1">Google</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="card-footer text-center pt-2 px-sm-4 px-1" >
                                        <p class="mx-auto bg-gradient-dark text-gradient" id="SignInAccount" style="font-size: 14px">
                                            Already have an account?
                                            <a class="text-dark text-gradient font-weight-bold cursor-pointer" style="font-size: 14px ;border-bottom:1px solid black"> Sign in</a>
                                        </p>
                                    </div>
                                    <div id="textMessage" name="Content" style="text-align: center;height: 52px;padding-top: 24px;color: #dc3545;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div id="globe" class="position-absolute end-0 top-10 mt-sm-3 mt-7 me-lg-7">
                                <canvas width="500" height="400" class="w-lg-100 h-lg-100 w-75 h-75 me-lg-0 me-n10 mt-lg-5"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer py-5">
        <div class="container">
            <div class="text-center mb-2 mt-2">
                <a href="javascript:;" target="_blank">
                    <i class="fa fa-map-marker text-gradient text-dark text-xs pe-1"></i>
                    <span class="text-gradient text-dark text-xs" id="ipaddress">10.50.81.37</span>
                </a>
            </div>
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <a class="mb-0 text-dark text-xs" href="/Login/Login">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Trinh o2o
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/Assets/js/plugins/threejs.js"></script>
<script src="/Assets/js/plugins/orbit-controls.js"></script>
<script src="/js/Common/globe.js"></script>
<script type="text/javascript">
    let userId=localStorage.getItem("X-UserID");
     var Token =localStorage.getItem("X-Access-Token");
    $(document).ready(function () {
        document.getElementById('SignInAccount').addEventListener("click", Login_RegisUser);
         document.querySelector("#LoginResetPass").addEventListener("click",e=>{
            ResetPassDetail();
        });
        showTextPassWord();
        if(userId !=null && Token.length>10){
            Login_ValidateToken();
        }else{
            RemoveClassDisabedBnt();
        }
        $('.inforlogin').on('keyup', function (e) {
            var code = e.key;
            if (code === "Enter") {
                e.preventDefault();
            }
        });
    });
    // login
    function ClickLogin () {
        if($('#username').val() !=null && $('#password').val() !=null){
            localStorage.setItem("Flag-Login","0");
           Login_LoadInforUser();
        }
        else{
            if ($('#username').val() == '') $('#username').addClass('active').removeClass('disabled');
                if ($('#password').val() == '') $('#password').addClass('active').removeClass('disabled');
        }
    };
     // login oathor2 google
    function loginGoogle(){
        localStorage.setItem("Flag-Login","1");
        var url="";
          AjaxApi(url = "/api/Author/loginGoogle"
            ,data= JSON.stringify({'flags': "1"})
            ,async = false
            , error = function () { notiError_SW() }
            , success = function (result) {
            }
            , before = function (e) {
                url=e.responseText;
                window.open(url,"SingleSecondaryWindowName");
             }
        );
    };
    function LoginFaceBook(){
     };
    function Login_ValidateToken(){
        $('#username').removeClass('active').addClass('disabled');
        $('#password').removeClass('active').addClass('disabled');
        $('#loader').show();
         $.ajax({url: '/api/Author/ValidateToken',
                type: 'POST',
                data: JSON.stringify({
                    'UserID':userId.trim()
                   ,'Token':Token.trim()
                   ,'PublicKey':""
                   ,'flags': localStorage.getItem("Flag-Login").trim()
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data, textStatus, xhr) {
                    if(data!== "[]" && data !== undefined){
                        var res=JSON.parse(data);
                        ShowLoader();
                       localStorage.setItem("X-Access-Token",res.Token.trim());
                       setTimeout(()=>{
                           $("#DetailModal_Content").addClass('modal-content');
                              $('#DetailModal').modal('hide');
                        },3000);
                         window.location.href="/Dash/Dash_Master";  
                        //localStorage.setItem("X-PublicKey",res.PublicKey);
                        //localStorage.setItem("X-UserID",$('#username').val());
                    }
                    else{validateLogin();};
                },
                error: function (xhr, textStatus, errorThrown) {
                    notiError_SW();
                }
            });
    };
    function validateLogin(){
         $('#username').addClass('active').removeClass('disabled');
            $('#password').addClass('active').removeClass('disabled');
            RemoveClassDisabedBnt();
            $('#loader').hide();
    };
    function Login_LoadInforUser () {
        $('#formLogin').form('validate form');
        if ($('#formLogin').form('is valid')) {
            $.ajax({url: '/api/Author/login',
                    type: 'POST',
                    data: JSON.stringify({
                    'flags': "0",
                    'userID': $('#username').val(),
                    'PassWord':window.btoa($('#password').val())
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data, textStatus, xhr) {
                        if(data!== "[]" && data !== undefined){
                            $('#loader').show();
                            var res=JSON.parse(data);
                            localStorage.setItem("X-PublicKey",res.PublicKey);
                            localStorage.setItem("X-UserID",$('#username').val().trim());
                            localStorage.setItem("X-Access-Token",res.token.trim());
                            ShowLoader();
                           setTimeout(()=>{
                               $("#DetailModal_Content").addClass('modal-content');
                                  $('#DetailModal').modal('hide');
                                
                            },3000);
                            window.location.href="/Dash/Dash_Master";
                        } else {notiError_SW()};
                },
                error: function (xhr, textStatus, errorThrown) {
                    notiError_SW();
                }
            });
        }
    };
    function showTextPassWord(){
                $(".show_pass_icon").unbind().on("click", function () {
                let obj = $(this).parent().next();
                if (obj != undefined) {
                    if (obj.hasClass('sercu')) {
                        obj.removeClass('sercu');
                        $(this).addClass('fa-eye');
                        $(this).removeClass('fa-eye-slash');
                    }
                    else {
                        obj.addClass('sercu')
                        $(this).removeClass('fa-eye');
                        $(this).addClass('fa-eye-slash');
                    }
                }
            })
    }
    function Login_RegisUser(){
         $("#DetailModal_Content").html('');
           $("#DetailModal_Content").load("/Login/SignIn");
           $('#DetailModal').modal('show');
            return false;
    };
    // show popup
    function ResetPassDetail(){
           $("#DetailModal_Content").html('');
           $("#DetailModal_Content").load("/Login/ChangePassword");
           $('#DetailModal').modal('show');
            return false;
    };
    function RemoveClassDisabedBnt(){
         $('#loginbtn').removeClass('disabed');
        $('#loginbtnGoogle').removeClass('disabed');
        $('#loginbtnFB').removeClass('disabed');
    };
</script>
</html>