<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		 <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\TrinhTest.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	</system.webServer>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" prefixLanguageFilePath="" path="\Error\Error401" responseMode="File" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" prefixLanguageFilePath="" path="\Error\Error500" responseMode="File" />
		</httpErrors>
	</system.webServer>
</configuration>