@page
@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()
<script src="/js/Common/initialize_setting.js"></script>
<div class="container-fluid py-4" id="divMainSettingDetail">
    <div class="row">
        <div class="col-12 position-relative z-index-2">
            <div class="card card-plain mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="h-100">
                                <h6 data-languagestatic="carrer_detail_header" class="mb-0">Dashboards</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Doctor</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Doctor" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-user-md text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Patient</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_Price_Patient" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Appointment</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Appointment" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-calendar-plus-o text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Prescription</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Prescription" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-plus-square text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="DashPriceServices" class="col-lg-5 position-relative z-index-2">
        </div>
        <div id="DashMedicineReport" class="col-lg-7 position-relative z-index-2">
        </div>
    </div>
</div>
<script src="/Assets/js/custom-validation.js"></script>
<script src="/Assets/js/plugins/threejs.js"></script>
<script src="/Assets/js/plugins/orbit-controls.js"></script>
<script src="/js/Common/initialize_setting.js"></script>
<script type="text/javascript">
</script>
<style>
    .navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]:after {
        color: #67748e;
        transform: rotate(180deg);
    }

</style>